.main {

    height:100%;

    &-container {
        margin: 10rem auto;
        height: 18.75rem;
        max-width: 80vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "time time"
        "date temp";
        gap: 0.3125rem;
        


        @include breakpoint-up(large){
            max-width: 44rem;
        }


        & > * {
            padding: 1.0625rem;
            background-color: $White;
            border-radius: 0.625rem;
            display:flex;
            
        }

        
    }


    &-time {
        grid-area: time;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3.5rem;
    }
    &-date {
        grid-area: date;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        font-size: 1.9rem;

    }
    &-temp{
        grid-area: temp;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        font-size: 1.8rem;

        :first-child {
            font-size: 1.5rem;
        }
    }


}