.main {
    min-height: 100vh;
    

    &-container {
        padding:5rem 1rem;
        height: 100%;
        max-width: 90vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr 1fr .5fr;
        grid-template-areas:
        "greeting greeting"
        "date time"
        "temp temp"
        "weather weather";
        gap: 0.3125rem;
        


        @include breakpoint-up(medium){
            max-width: 40rem;
        }

        @include breakpoint-up(large){
            max-width: 40rem;
            padding-top: 9rem;
            margin-left: 8rem;
        }

        & > * {
            padding: 1.0625rem;
            background-color: $White;
            border-radius: 0.625rem;
            display:flex;
            
        }

        
    }

    &-greeting {
        grid-area: greeting;
        font-size: 1.8rem;
        justify-content: center;
    }


    &-date {
        grid-area: date;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        font-size: 1.9rem;

    }

    &-time {
        grid-area: time;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.9rem;
    }
    
    &-temp {
        grid-area: temp;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        font-size: 1.9rem;
    }

    &-weather{
        grid-area: weather;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        font-size: 1.5rem;
 
    }

    


}