
//Colors 
// morning 
$LightYellow: #FDFFBC;
$LightYellow: #FFEEBB;
$LightPink: #FFC1B6;

// afternoon
$LightBlue: #AEE6E6;
$Yellow: #FFDA77;
$Orange: #FFA45B;

// evening
$LightPurple: #D789D7;
$Purple: #9D65C9;
$Violet: #2A3D66;

$White: rgba(251,246,240,0.84)


