html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 44rem;
}

.morning {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFFBC), color-stop(#FFEEBB), to(#FFC1B6));
  background-image: linear-gradient(#FDFFBC, #FFEEBB, #FFC1B6);
}

.afternoon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#AEE6E6), color-stop(#FFDA77), to(#FFA45B));
  background-image: linear-gradient(#AEE6E6, #FFDA77, #FFA45B);
}

.evening {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D789D7), color-stop(#9D65C9), to(#2A3D66));
  background-image: linear-gradient(#D789D7, #9D65C9, #2A3D66);
}

.main {
  min-height: 100vh;
}

.main-container {
  padding: 5rem 1rem;
  height: 100%;
  max-width: 90vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: .5fr 1fr 1fr .5fr;
      grid-template-rows: .5fr 1fr 1fr .5fr;
      grid-template-areas: "greeting greeting" "date time" "temp temp" "weather weather";
  gap: 0.3125rem;
}

@media (min-width: 40rem) {
  .main-container {
    max-width: 40rem;
  }
}

@media (min-width: 64rem) {
  .main-container {
    max-width: 40rem;
    padding-top: 9rem;
    margin-left: 8rem;
  }
}

.main-container > * {
  padding: 1.0625rem;
  background-color: rgba(251, 246, 240, 0.84);
  border-radius: 0.625rem;
  font-size: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

@media (min-width: 64rem) {
  .main-container > * {
    font-size: 2.5rem;
    padding: 1.5rem;
  }
}

.main-container::after {
  content: "Source: AccuWeather";
}

.main-greeting {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: greeting;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-date {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: date;
}

.main-time {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: time;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-temp {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: temp;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-weather {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: weather;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

@media (min-width: 64rem) {
  .circle > * {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    visibility: hidden;
  }
}

@media (min-width: 64rem) {
  .circle-morning {
    background-image: url("/images/morning-desktop.png");
    background-position: 108% 88%;
    background-size: 32%;
  }
}

@media (min-width: 64rem) {
  .circle-afternoon {
    background-image: url("/images/afternoon-desktop.png");
    background-position: 105% 11%;
    background-size: 32%;
  }
}

@media (min-width: 64rem) {
  .circle-evening {
    background-image: url("/images/evening-desktop.png");
    background-position: 101% -25%;
    background-size: 32%;
  }
}
/*# sourceMappingURL=style.css.map */